.login-page {
  height: 100%;
  position: relative;
}

.login-wrapper {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  width: 420px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 0 20px #efefef;
  text-align: center;
}

hr {
  border: 1px solid #f7f5f3;
}

.brake {
  height: 5px;
}

@media only screen and (max-width: 460px) {
  .login-wrapper {
    top: 30px;
    width: 340px;
  }
}
